{% extends 'base.html' %}

{% block title %}
Please sign in
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container" style="padding: 0 350px;">
        <form method="POST" class="form-register" action="/login" style="margin-top: 20px ;text-align: center; background:rgb(255, 215, 186, 0.3); border: 5px outset rgb(255, 215, 186, 0.2); border-radius: 50px;">
            <br>
            <img class="mb-4" src="static/blumen.png" alt="flowers" style="width:200px;">
            <br>
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>

            <label for="Username" class="form-label">Username</label>
            <input type="text" id="Username" name="Username" class="form-control" style="text-align: center";>
            <label for="Password" class="form-label">Password</label>
            <input type="password" id="Password" name="Password" class="form-control" style="text-align: center" aria-describedby="passwordHelpBlock">

            <br>
            <button type="submit" class="btn btn-dark btn-lg">Login</button>

        </form>
    </div>
</body>
{% endblock %}